<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teachers</title>

    <style>
        #app {
            width: 600px;
            margin: auto;
            text-align: center;
        }
    </style>
</head>
<body>
    <div id="app">
        <h1>{{ page_title }}</h1>
        <form action="" method="get">
            <input name="name" type="text" placeholder="Ad..." value="{{ request.GET.name }}">
        </form>
        <br>
        <table border="1" style="width: 100%;">
            <tr>
                <th>Id</th>
                <th>Ad</th>
                <th>Soyad</th>
                <th>Ata Adi</th>
                <th>Yenilə</th>
            </tr>
            {% for teacher in teachers %}
            <tr>
                <td><a href="{% url 'teacher_view' teacher_id=teacher.id %}">{{ teacher.id }}</a></td>
                <td>{{ teacher.name }}</td>
                <td>{{ teacher.surname }}</td>
                <td>{{ teacher.patronymic|default:"" }}</td>
                <td><a href="{% url 'teacher_edit' teacher_id=teacher.id %}">Yenilə</a></td>
            </tr>
            {% endfor %}
        </table>
        <br>
        <a style="float:right" href="{% url 'teacher_add' %}">Müəllim əlavə et</a>
    </div>
    
</body>
</html>