<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher</title>
    <style>
        body {
            text-align: center;
        }
    </style>
</head>
<body>
    <a href="{% url 'teacher_index' %}">Müəllimlər</a>
    
    <h1>{{page_title}}</h1>
    
    <table style="margin: auto;">
        <tr>
            <th>Ad:</th>
            <td>{{teacher.name}}</td>
        </tr>
        <tr>
            <th>Soyad:</th>
            <td>{{teacher.surname}}</td>
        </tr>
        <tr>
            <th>Ata adı:</th>
            <td>{{teacher.patronymic | default:""}}</td>
        </tr>
    </table>
</body>
</html>